<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Reddit SFW Image Carousel</title>

<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le styles -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <div id="main-carousel" class="carousel slide container">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for img in img_list %}
                    <div class="item{% if loop.first %} active{% endif %}">
                        <img src="{{ img }}" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Image loading -->
                <div class="loading hide"><img src="img/black.png"/></div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#main-carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#main-carousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('.carousel').carousel({interval:20000});  // 20 second transition.
        // Reload the page every two hours.
        setTimeout(function(){
           window.location.reload(1);
        }, 1000*60*60*2);  // 2 hours.
    });
</script>
</body>
</html>
